@using BlogLibrary.Databases.Interfaces
@inject IImageService imageService
@model IEnumerable<BlogLibrary.Models.ArticleModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole("Owner"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SeriesModelId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SeriesModel.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)<br />
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @if (item.Image != null)
                    {
                        <img height="75px" src="@imageService.DecodeImage(item.Image.ImageData, item.Image.ImageExtension)" />
                    }
                </td>
                <td>
                    @if (User.IsInRole("Owner"))
                    {
                        <a asp-action="Edit" asp-route-slug="@item.Slug">Edit</a>
                        <a asp-action="Delete" asp-route-slug="@item.Slug">Delete</a>
                    }
                    <a asp-action="Details" asp-route-slug="@item.Slug">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
