@using BlogLibrary.Databases.Interfaces
@inject IImageService imageService
@model IEnumerable<BlogLibrary.Models.SeriesModel>

@{
    ViewData["Title"] = "Series Index";
}

<h1>Series Index</h1>

@if (User.IsInRole("Owner"))
{
    <p>
        <a asp-action="Create" class="owner">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (item.Image != null)
                    {
                        <img class="img-fluid" width="200px" src="@imageService.DecodeImage(item.Image.ImageData, item.Image.ImageExtension)" />
                    }

                </td>
                <td>
                    @if (User.IsInRole("Owner"))
                    {
                     <a asp-action="Edit" asp-route-id="@item.Id" class="owner">Edit</a>
                    }

                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                    @if (User.IsInRole("Owner"))
                    {
                     <a asp-action="Delete" asp-route-id="@item.Id" class="owner">Delete</a>
                    }
                    
                </td>
            </tr>
        }
    </tbody>
</table>
