@using Blog.Data.Databases.Interfaces
@inject IImageService imageService
@model IEnumerable<Blog.Data.Models.ArticleModel>

@{
    ViewData["Title"] = "Articles Index";
}

<meta property="og:title" content="Blog" />
<meta property="og:description" content="A knowledge base for .NET(C#) coding and web development." />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://lfost42-blog.herokuapp.com" />
<meta property="og:image" content="http://lfost42-blog.herokuapp.com/images/app.png" />
<meta property="og:image:alt" content="Blog Logo" />
<meta property="og:site_name" content="by Lynda Foster" />
<meta property="og:locale" content="en_US" />

<h1>Articles Index</h1>

@if (User.IsInRole("Owner"))
{
    <p>
        <a asp-action="Create" class="owner">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SeriesModelId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SeriesModel.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)<br />
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @if (item.Image != null)
                    {
                        <img class="img-fluid" width="250px" src="@imageService.DecodeImage(item.Image.ImageData, item.Image.ImageExtension)" />
                    }
                </td>
                <td>
                    <div class="col-auto">
                        @if (User.IsInRole("Owner"))
                        {
                            <a asp-action="Edit" asp-route-slug="@item.Slug" class="owner">Edit</a>
                            <a asp-action="Delete" asp-route-slug="@item.Slug" class="owner">Delete</a>
                        }
                        <a asp-action="Details" asp-route-slug="@item.Slug">Details</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
